#### Env Variables ####
export PATH=$PATH:/home/dom1nux/.local/bin

{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.hostname "Mizuki") }}
export PATH="/home/linuxbrew/.linuxbrew/opt/rustup/bin:$PATH"
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
{{- end}}

{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.hostname "mizuho") }}
export EDITOR=helix
{{- end}}

### Eval Utils ####
{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.hostname "Mizuki") }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end}}

{{- if and (eq .chezmoi.os "linux") (ne .chezmoi.hostname "zero") }}
eval "$(oh-my-posh init zsh --config '~/.config/oh-my-posh/myThemePowerlineMode.toml')"
eval "$(fzf --zsh)"
eval "$(zoxide init --cmd cd zsh)"
{{- end}}

#### Aliases ####
alias k='kubectl'
alias cz='chezmoi'
alias grep='grep --color=always'
alias ip='ip -color=auto'
alias ap='chezmoi -v apply'

{{- if and (eq .chezmoi.os "linux") (ne .chezmoi.hostname "zero") }}
alias l='eza --icons=always'
alias ls='eza --icons=always'
alias ll='eza -la --icons=always'
alias lg='lazygit'
alias cat='bat -P --style plain'
{{- end }}

{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.hostname "mizuho") }}
alias hx='helix'
alias font-status='gsettings get org.gnome.desktop.interface text-scaling-factor'
alias font-bigger='gsettings set org.gnome.desktop.interface text-scaling-factor 1.2'
alias font-smaller='gsettings set org.gnome.desktop.interface text-scaling-factor 1.0'
alias uefi='systemctl reboot --firmware-setup'
{{- end }}

#### Zinit ####
[[ -f ~/.config/zsh/zinit.zsh ]] && source ~/.config/zsh/zinit.zsh

#### Keybindings ####
bindkey -e
bindkey '^p' history-search-backward
bindkey '^n' history-search-forward
bindkey '^[w' kill-region

#### History ####
HISTSIZE=5000
HISTFILE=~/.zsh_history
SAVEHIST=$HISTSIZE
HISTDUP=erase
setopt appendhistory sharehistory hist_ignore_space hist_ignore_all_dups hist_save_no_dups hist_ignore_dups hist_find_no_dups
